<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testclass.LoginTesting"/>
      <class name="testclass.SignUpTesting"/>
      <class name="testclass.ScrollDownNextTesting"/>
      <class name="testclass.HoverNavbarTesting"/>
      <class name="testclass.DropDownHighLowTesting"/>
      <class name="testclass.OrderInfoTesting"/>
      <class name="testclass.ViewCartTesting"/>
      <class name="testclass.BookViewTesting"/>
      <class name="testclass.WritterClickTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
